<!DOCTYPE html>
<html lang="en" id="ng-app" ng-app="huni">
<head>
  <meta charset="utf-8">
  <title ng-bind="$root.title + ' - HuNI'">HuNI - Humanities Networked Infrastructure</title>
  <!-- og: properties are for facebook -->
  <meta property="og:image" content="https://huni.net.au/images/huni-shared.png" />
  <meta property="og:title" content="{{ addthis.title }}">
  <meta property="og:description" content="{{ addthis.description }}">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/custom.css" rel="stylesheet">
  <link href="css/fonts.css" rel="stylesheet">
  <link href="css/summernote.css" rel="stylesheet">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <script src="huni-lib.js"></script>
  <script src="huni-src.js"></script>
</head>
<body ng-controller="TopLevelController">
    <nav class="navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/search"><img src="images/huni-logo-nav.png" width="112" height="29" alt="HuNI"></a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" ng-class="{collapse: isCollapsed}">
            <ul class="nav navbar-nav">
              <li><a ng-click="hideMenu()" href="#/results">Search</a></li>
              <li><a ng-click="hideMenu()" href="#/collections">Collections</a></li>
              <li ng-show="user.canEdit"><a ng-click="hideMenu()" href="#/cms">CMS</a></li>
              <li dropdown>
              <a href="#" dropdown-toggle>About <b class="caret"></b></a>
              <ul class="dropdown-menu">
                  <li><a ng-click="hideMenu()" href="#/about">What is HuNI?</a></li>
                  <li><a ng-click="hideMenu()" href="#/partners">Partners</a></li>
                  <li><a ng-click="hideMenu()" href="#/technologies">Technologies</a></li>
                  <li><a ng-click="hideMenu()" href="#/bibliography">Bibliography</a></li>
                  <li><a ng-click="hideMenu()" href="#/history">History</a></li>
                  <li><a ng-click="hideMenu()" href="#/governance">Governance</a></li>
                  <li><a ng-click="hideMenu()" href="#/contact">Contact</a></li>
                </ul>
            </li>
              <li ng-show="user.loggedIn" dropdown>
                <a href="#" dropdown-toggle>My HuNI <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li ng-repeat='i in menuItems'>
                    <a ng-click="hideMenu()" href="#/myhuni/{{i.page}}">{{i.text}}</a>
                  </li>
                </ul>
              </li>
             <li dropdown>
              <a href="#" dropdown-toggle>Help<b class="caret"></b></a>
              <ul class="dropdown-menu">
                  <li><a ng-click="hideMenu()" href="#/help">Help topics</a></li>
                  <li><a ng-click="hideMenu()" href="#/glossary">Glossary</a></li>
                </ul>
            </li>
            </ul>
             <ul ng-cloak class="nav navbar-nav navbar-right">
               <li><div class="addthis_sharing_toolbox btn navbar-btn btn-sm"></div></li>
               <li><login-button ng-click="hideMenu()" user="user"></login-button></li>
             </ul>
           </div><!-- /.navbar-collapse -->
        </div><!-- end container -->
    </nav>
    <div id='snap-ins'>
      <collection-snapin> </collection-snapin>
      <link-snapin> </link-snapin>
      <query-snapin> </query-snapin>
      <embed-snapin> </embed-snapin>
    </div>
    <div id="main-view">
    <div id="main-container" class="container main" ng-view>
    </div>
    </div>
     <!-- start deakin footer -->
    <div class="container deakin-footer-container">
      <div class="footer-menu-container col-md-6 col-md-push-3 col-sm-12">
        <ul class="footer-menu">
          <li class="active"><a href="#/contact">Contact</a></li>
          <li><a href="#/terms-conditions">Terms & Conditions</a></li>
          <li><a href="#/data-policy">Data Policy</a></li>
         </ul>
         <p>&#169; Copyright Humanities Networked Infrastructure (HuNI).</p>
      </div>

      <div class="col-md-3 col-md-pull-6 col-sm-6 footer-logos">
        <a href="https://www.ualberta.ca/">
          <img src="images/ualberta-logo.png" class="img-responsive center-block">
        </a>
      </div>

      <div class="col-md-3 col-sm-6 footer-logos">
        <a href="https://www.unsw.edu.au/">
          <img src="images/unsw-logo.png" class="img-responsive center-block">
        </a>
      </div>
    </div>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-52681055-1', 'auto');

    </script>
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-53b35f9f0da28de0"></script>
</body>
</html>
