<form name="form" novalidate>
  <div id="embed-snapin" class="workflow-bar-fixed" ng-if="isActive">
    <div class="close-window">
      <button type="button" class="btn btn-info btn-sm" ng-click="copyToClipboard()">
        <span class="glyphicon glyphicon-copy"></span> Copy
      </button>
      <button type="button" class="btn btn-info btn-sm" ng-click="close()">
        <span class="glyphicon glyphicon-remove"></span> Close
      </button>
    </div>
    <h3>Embed Code</h3>
    <pre id="embed-code" ng-bind="embedCode()" />
  </div>
</form>
