<form name="form" novalidate>
<div id="link-snapin" class="workflow-bar-fixed" ng-if="isActive">
  <div class="close-window">
    <button ng-if="form.$pristine"
      type="button" class="btn btn-info btn-sm" ng-click="close()">
      <span class="glyphicon glyphicon-remove"></span> Close
    </button>
    <button ng-if="form.$dirty"
      type="button" class="btn btn-danger btn-sm" ng-click="close(true)">
      <span class="glyphicon glyphicon-remove"></span> Cancel
    </button>
  </div>
  <h3 ng-if="!link">Create a new link</h3>
  <h3 ng-if="link">Manage your link</h3>
  <alert type="success" ng-show="showAlert" close="closeAlert()">
    <span ng-bind-html="getAlertMessage() | trust" />
  </alert>
  <div class="input-group">

  <div class="source-box">
      {{fromRecord | recordName | truncate:40}}
     <select class="form-control {{toRecord && !rw.selectedLHS && 'sel-highlight'}}" ng-model="rw.selectedLHS"
             ng-change="lhsChanged()"
             ng-disabled="!toRecord"
             ng-options="lt.name for lt in linktypes">
       <option value=""> -- select a relationship -- </option>
    </select><span class="glyphicon glyphicon-arrow-right"></span>
          <strong ng-hide="toRecord"><span class="glyphicon icon-add-link icon-sml"></span> Select record below</strong>
          <!--
Tried to add an effect to fade text from blue to black - there is a style in the style sheet line 978. Colour should go from #00BCC1 to black. It's actually working now, but perhaps there is a better method?
 -->
          <span class="sel-record"> {{toRecord | recordName | truncate:40}}</span>
    </div>
   <div class="clearfix"></div>
    <div class="target-box">
      {{toRecord | recordName | truncate:40}}
    <strong ng-hide="toRecord"><span class="glyphicon icon-add-link icon-sml"></span> Select record below </strong>
    <span class="glyphicon glyphicon-arrow-right"></span>
    <select class="form-control {{rw.selectedLHS && !rw.selectedRHS && 'sel-highlight'}}" ng-model="rw.selectedRHS"
            ng-change="rhsChanged()"
            ng-disabled="!rw.selectedLHS"
            ng-options="lt.pair for lt in rw.selectedLHS.pairs">
       <option value=""> -- select a relationship -- </option>
    </select>
            {{fromRecord | recordName | truncate:40}}
    </div>
    <div class="save-box">
          <!--
When save becomes available, button style should change to  btn btn-success btn-highlight
 -->

    <button ng-type="button"
            name="saveButton"
            class="btn {{(!rw.selectedRHS || form.$pristine) ? 'btn-primary' : 'btn-success btn-highlight'}}"
            ng-click="saveLink()"
            ng-disabled="!rw.selectedRHS || form.$pristine">
        Save link
    </button>
    </div>
  </div>
  <div class="notes">
   <h5 class="inline">Link notes:</h5>
   {{rw.linknote | truncate:40}}
    <button type="button" class="btn btn-primary btn-sm" ng-click="editNote()">
      <span class="glyphicon glyphicon-file"></span>
      <span ng-if="rw.linknote">Edit note</span>
      <span ng-if="!rw.linknote">Add note</span>
    </button>
  </div>
</div>
</form>
