<form name="form" novalidate>
<div id="link-snapin" class="workflow-bar-fixed" ng-if="isActive">
  <div class="close-window">
    <button type="button" class="btn btn-info btn-sm" ng-click="close()">
      <span class="glyphicon glyphicon-remove"></span> Close
    </button>
  </div>
  <h3>Graph query</h3>
  <alert type="success" ng-show="showAlert" close="closeAlert()">
    <span ng-bind-html="getAlertMessage() | trust" />
  </alert>
  <div class="input-group">

  <div>
    Click <button ng-type="button"
            class="btn btn-success btn-highlight"
            ng-click="findReachableNodes()">
        <span class="glyphicon icon-query-start"></span>
        Find reachable nodes
    </button> to find all records reachable from
    &nbsp; <!-- stops the record-summary from bunching up next to the text -->
    <record-summary record="fromRecord"></record-summary>
  </div>

  <div>
  Or, choose another record below and click <span class="glyphicon icon-query-end"></span> to find the shortest path between these nodes, if one exists.
  </div>

  </div>
</div>
</form>
