<h2 class="space-above">What can I do with the HuNI data?</h2>
<ul class="lead">
  <li><a href="#/results" title="Search and browse the HuNI data"> Search and browse</a></li>
  <li><a href="#/help" title="Find out how to build your own private or public virtual collections of HuNI records">Build your own private or public virtual collections</a></li>
  <li>View <a href="#/collections" title="View collections of HuNI records built by other HuNI users"><span class="icon-tiny icon-collection-stack"></span>collections</a> built by other HuNI users</li>
  <li>Make new <a href="#/help" title="Find out how to make new links between records"><span class="glyphicon glyphicon-link"></span> links</a> between records and follow existing trails</li>
  <li><a href="#/help" title="Find out how to export, publish and share your findings">Export, publish and share your findings</a></li>
</ul>
<p><a href="http://youtu.be/qiFj7JjlaSQ" title="Get Lucky with HuNI (video)" class="btn btn-primary btn-md update"><span class="glyphicon glyphicon glyphicon-hd-video"></span> Get Lucky with HuNI (video)</a></p>
