<div class="col-xs-12"><h2 class="space-above">Partners</h2></div>
  <div class="row">
  	<div class="col-xs-12 col-sm-12  col-md-3 col-lg-3"><a href="http://www.aiatsis.gov.au/main.html">
  		<img alt="HuNI - project partners" class="img-responsive space-above" src="images/AIATSISHorizontal_logo.gif" /></a></div>
  	<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
  		<h3><a href="http://www.aiatsis.gov.au/main.html">AIATSIS</a></h3>
 		<p>The Australian Institute of Aboriginal and Torres Strait Islander Studies (AIATSIS) is a world-renowned premier research, collecting and publishing organisation of Aboriginal and Torres Strait Island cultures, traditions, languages and stories, past and present.  AIATSIS is contributing the AustLang and Mura datasets to the HuNI aggregate.
 		</p>
		<p><a href="http://www.aiatsis.gov.au/collections/muraread.html">Mura®</a> is AIATSIS’ Collections Catalogue. The Mura® dataset contains records of the world's most comprehensive collection of print, audio recordings, photographic materials and moving images relating to Australian Aboriginal and Torres Strait Islander cultures, languages and histories.  Mura® is the name of the AIATSIS collections catalogue and comes from the Ngunawal language meaning pathway.  As a result of decades of expert documentation, the records on Mura® are rich in metadata.
		</p>
		<p class="bottom-space"><a href="http://austlang.aiatsis.gov.au/disclaimer.php">AUSTLANG</a> is a unique web-based resource on Australian Indigenous languages, developed and maintained by AIATSIS (the Australian Institute of Aboriginal and Torres Strait Islander Studies). It provides a single location in which users can search for an Indigenous language, view information about the language from various sources, and find resources available in, and on, that language. At the core of AUSTLANG is a database that has an entry for each distinct Aboriginal and Torres Strait Islander language.
		</p>
  </div>
</div>
<hr class="bottom-space" />
<div class="row">
  	<div class="col-xs-12 col-sm-12  col-md-3 col-lg-3">
  		<a href="http://www.anu.edu.au/">
  		<img alt="HuNI - project partners" class="img-responsive" src="images/ANU_logo.gif" /></a>
  	</div>
  	<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
  		<h3><a href="http://www.anu.edu.au/">Australian National University</a></h3>
 		<p>The <a href="http://ncb.anu.edu.au/">National Centre of Biography</a> within the ANU provides records to HuNI from its Australian Dictionary of Biography and Obituaries Australia services.</p>
<p>The <a href="http://adb.anu.edu.au/">Australian Dictionary of Biography</a> is Australia's pre-eminent dictionary of national biography. In it you will find concise, informative and fascinating descriptions of the lives of over 12,000 significant and representative persons in Australian history. The subjects come from all walks of life — from prime ministers, governors-general and premiers, generals and bishops, artists, actors and authors, engineers and schoolteachers, to prostitutes, thieves and murderers — providing a cross-section of Australian society.</p>
<p><a href="http://oa.anu.edu.au/">Obituaries Australia</a> is a digital repository of obituaries about Australians, and those who have made an impact on Australian history, published in newspapers, journals, magazines and bulletins.</p>
<p class="bottom-space">During his time at ANU, Paul Arthur was a valuable member of the HuNI steering committee.</p>
  </div>
</div>
<hr class="bottom-space" />
<div class="row">
  	<div class="col-xs-12 col-sm-12  col-md-3 col-lg-3">
  		<a href="http://www.deakin.edu.au/">
<img alt="HuNI - project partners" class="img-responsive" src="images/deakin-logo-215x215.png" /></a>
  	</div>
  	<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
  		<h3><a href="http://www.deakin.edu.au/">Deakin University</a></h3>
 		<p>Deakin University is the lead organisation for the development and operation of HuNI. Deakin's involvement covers contributing cinema datasets: <a href="http://caarp.edu.au/">CAARP</a> and <a href="http://www.bonzadb.com.au/">bonza </a> as well as the engagement of staff across the entire project infrastructure. </p>
<p class="bottom-space">The Project Director, Professor Deb Verhoeven worked with other Deakin staff such as eResearch Director Christopher McAvaney, project administrator Elizabeth Braithwaite, and HuNI Coordinator Alwyn Davidson, to ensure the successful development and uptake of HuNI.  In particular, Marco La Rosa was a key contributor in conceptualising and developing HuNI’s innovative “social linking” service.</p>
  </div>
</div>
<hr class="bottom-space" />
<div class="row">
  	<div class="col-xs-12 col-sm-12  col-md-3 col-lg-3">
  		<a href="http://www.flinders.edu.au/"><img alt="HuNI - project partners" class="img-responsive" src="images/FU_logo.gif" /></a>
  	</div>
  	<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
  		<h3><a href="http://www.flinders.edu.au/">Flinders University</a> </h3>
 		<p>Flinders University has been involved with HuNI through its contribution of the AusStage dataset into the HuNI aggregate. <a href="http://www.ausstage.edu.au/pages/browse/">AusStage</a> provides an accessible online resource for researching live performance in Australia. Development is led by a consortium of universities, government agencies, industry organisations and collecting institutions with funding from the Australian Research Council and other sources.</p>
<p>AusStage enables research on live performance as a wealth-producing creative industry, a generator of social capital and an indicator of the nation's cultural vitality. Australia stages some of the most ambitious, innovative and socially significant live events. Live interaction at communal events is essential to the cultural life of the nation. Innovative live performances project images of Australian culture to audiences here and overseas. By sharing our knowledge through AusStage, we can learn more about Australian performance than ever before.</p>
<p class="bottom-space">Flinders University has been an integral partner of HuNI through the involvement of Richard Maltby as a steering committee member and as a key member of AusStage. </p>
  </div>
</div>
<hr class="bottom-space" />
<div class="row">
  	<div class="col-xs-12 col-sm-12  col-md-3 col-lg-3">
  		<a href="http://www.intersect.org.au/"><img alt="HuNI - project partners" class="img-responsive" src="images/Intersect_logo.gif" /></a>
  	</div>
  	<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
  		<h3><a href="http://www.intersect.org.au/">Intersect</a></h3>
 		<p>Intersect Australia, Australia’s largest research-IT support agency assists researchers with their advanced ICT needs. Intersect works across a broad range of IT service categories including project management, analysis, architecture, solution design, data management, high performance computing, and software development.  We have significant expertise in establishing collaborative projects with university, industry and government agency partners and in delivering analytical tools to access, share, analyse and reuse data across diverse disciplines.</p>
<p class="bottom-space">Intersect was an initial partner in the HuNI bid to NeCTAR and has had a strong involvement with HuNI over the course of the project.  Initially, humanities specialist Ingrid Mason co-ordinated the collection of requirements and user scenarios from stakeholders and data harvesting arrangements with the many data providers contributing their data to the HuNI aggregate.  As Semantic Lead, Dr Anne Cregan created the HuNI data model and harmonised the data harvests to be visible and searchable through that model, providing a common representation for all the datasets.  As lead of the Expert Data Group she co-ordinated with data custodians to include their input and ensure their expectations were met.  Intersect also provided a number of professional testers for the formal testing process to ensure rigorous testing was performed.  Dr Joe Thurbon has been an active member of the HuNI Steering Committee and has provided invaluable assistance to smooth the path for the project at a senior management level.</p>
  </div>
</div>
<hr class="bottom-space" />
<div class="row">
  	<div class="col-xs-12 col-sm-12  col-md-3 col-lg-3">
  		<a href="http://mq.edu.au/"><img alt="HuNI - project partners" class="img-responsive" src="images/MQU_logo.gif" /></a>
  	</div>
  	<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
  		<h3><a href="http://mq.edu.au/">Macquarie University</a></h3>
 		<p>The Faculty of Arts at Macquarie University is home to Australia’s first centre dedicated to conducting and fostering research on the interactions between media and history.</p>
<p>Established in 2007, the <a href="http://mq.edu.au/research/centres_and_groups/cmh/about_us/">Centre for Media History (CMH)</a> is interested in the history of the media, history in the media, and history and the media. Two databases administered by the CMH are part of HuNI – the Media Archives Project and the Australian Media History Databases.</p>
<p>The <a href="https://mediaarchivesproject.mq.edu.au/redbox/default/about">Media Archives Project (MAP)</a> database is a register of lesser-known archives for all types of mass media. This essential resource assists researchers in locating and delving into the untold history of Australia and its media. The listings include both outputs of media – newspapers, broadcasts and advertisements – and the people behind them. Organisations, peak bodies and community groups are represented, as are archival collections held in private hands by practitioners, media veterans and other collectors.</p>
<p class="bottom-space">The <a href="http://amhd.info/index.php">Australian Media History Database (AMHD)</a> is a portal for all aspects of research into the history of the media in Australia. It aims to alert researchers – from industry, academe and the wider community – to current work being undertaken in the field, and to direct them to relevant resources across Australia. The AMHD includes a database of researchers currently working on projects about the history of Australian media including newspapers, radio, advertising, music and games, and a listing of relevant research resources including libraries, online resources, courses and events.</p>
  </div>
</div>
<hr class="bottom-space" />
<div class="row">
  	<div class="col-xs-12 col-sm-12  col-md-3 col-lg-3">
  		<a href="http://www.rmit.edu.au/"><img alt="HuNI - project partners" class="img-responsive" src="images/RMIT_logo.jpg" /></a>
  	</div>
  	<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
  		<h3><a href="http://www.rmit.edu.au/">RMIT University</a></h3>
 		<p>RMIT University has been involved with HuNI through its contribution of the Circus Oz Living Archive and AFI Research Collection datasets which are incorporated into the HuNI Virtual Laboratory.</p>
<p>The <a href="http://archive.circusoz.com/">Circus Oz Living Archive</a> is a rich-media archive of over 900 recordings of performances, interviews and television appearances made by Circus Oz since 1978.  These are available to researchers, circus scholars, performers and the public (restricted access) via the <a href="http://archive.circusoz.com/">Circus Oz Living Archive</a> website.  The collection and its dataset is of national significance and provides means for the investigation and creative development of repertoire in the performing arts and for the study of the performing arts as Australian cultural history (for further information see their <a href="http://www.circusarchive.net/blog">project blog</a>). A public API for the Circus Oz Living Archive has enabled the collaboration with HuNI, which in turn provides increased visibility of the rich dataset associated with the collection and facilitates flexible reconfiguration of the data. </p>
<p class="bottom-space">The <a href="http://afiresearch.rmit.edu.au/">AFI Research Collection</a> is one of Australia’s premier collections of material on film and television in Australia and the world, and is in partnership with the Australian Film Institute / Australian Academy of Cinema and Television Arts. Its online catalogue contains records on the thousands of books, journals, clippings files, scripts, stills, indexed journal articles, and other ephemera held within the AFI Research Collection. Many of the AFI Research Collection’s resources are unique (such as the clippings files) or difficult to access (many of our journals and stills), which makes them very valuable to researchers and scholars within the film and television fields. Having records within the HuNI dataset places the AFI Research Collection’s resource data alongside other important humanities datasets and gives researchers and scholars a greater chance to discover the many wonders of the collection.</p>
  </div>
</div>
<hr class="bottom-space" />
<div class="row">
  	<div class="col-xs-12 col-sm-12  col-md-3 col-lg-3">
  		<a href="http://www.unimelb.edu.au/"><img alt="HuNI - project partners" class="img-responsive" src="images/UoM_logo4.gif" /></a>
  	</div>
  	<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
  		<h3><a href="http://www.unimelb.edu.au/">University of Melbourne</a></h3>
 		<p>The University of Melbourne has been a major contributor of datasets to the HuNI project, including:</p>
<ul class="logos">
<li><a href="http://paradisec.org.au/">PARADISEC</a> (with the University of Sydney)</li>
<li>The <a href="http://www.esrc.unimelb.edu.au/">eScholarship Research Centre (ESRC)</a></li>
<li>The <a href="http://www.apfa.esrc.unimelb.edu.au/">Colonial Australian Popular Fiction</a> digital archive</li>
<li>The <a href="http://www.egold.net.au/home.html">Electronic Encyclopedia of Gold in Australia</a></li>
<li><a href="http://www.eoas.info/">Encyclopedia of Australian Science</a></li>
<li><a href="http://www.emelbourne.net.au/">Encyclopedia of Melbourne</a></li>
<li><a href="http://www.findandconnect.gov.au/">Find & Connect</a> (joint with ACU)</li>
<li><a href="http://www.saulwick.info/">Saulwick Polls and Social Research</a> (with Macquarie University and ANU)</li>
<li>The <a href="http://www.womenaustralia.info/">Australian Women’s Register</a></li>
<li><a href="http://www.wallabyclub.org.au/">The Wallaby Club Inc.</a></li>
</ul>
<p>All of the above have contributed a huge percentage of total records in HuNI.</p>
<p class="bottom-space">The University of Melbourne’s contribution has been coordinated by ESRC Director Gavan McCarthy through his involvement as a member of the steering committee and as a HuNI product owner.</p>
  </div>
</div>
<hr class="bottom-space" />
<div class="row">
  	<div class="col-xs-12 col-sm-12  col-md-3 col-lg-3">
  		<a href="http://www.unsw.edu.au/"><img alt="HuNI - project partners" class="img-responsive" src="images/UNSW_logo.gif" /></a>
  	</div>
  	<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
  		<h3><a href="http://www.unsw.edu.au/">University of New South Wales</a></h3>
 		<p class="bottom-space">The University of New South Wales is home to the collaborative e-Research tool <a href="http://www.daao.org.au/">Design & Art Australia Online (DAAO)</a>. Built on the foundations of the Dictionary of Australian Artists Online, DAAO is an open source freely accessible scholarly e-Research tool that presents biographical data about Australian artists, designers, craftspeople and curators. We are committed to sharing information and collaborative research. As such, DAAO is pleased to be part of HuNI which will enable researchers to share information with others across many datasets including DAAO that share a similar view of shared and collaborative research. Professor Ross Harley is the Lead Chief Investigator for DAAO and has been a member of the HuNI steering committee.</p>
  </div>
</div>
<hr class="bottom-space" />
<div class="row">
  	<div class="col-xs-12 col-sm-12  col-md-3 col-lg-3">
  		<a href="http://www.uq.edu.au/"><img alt="HuNI - project partners" class="img-responsive" src="images/UQ_logo.jpg" /></a>
  	</div>
  	<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
  		<h3><a href="http://www.uq.edu.au/">University of Queensland</a></h3>
 		<p>AustLit’s role in HuNI has been to provide details of the records users can find in AustLit. <a href="http://www.austlit.edu.au/">AustLit</a> is a non-profit collaboration between a <a href="http://www.austlit.edu.au/about/contributors">network of researchers from Australian universities</a> and the <a href="http://www.nla.gov.au/">National Library of Australia</a>, led by <a href="http://www.uq.edu.au/">The University of Queensland</a>. Our goal is to support <a href="http://www.austlit.edu.au/specialistDatasets">research</a>  into, and the <a href="http://www.austlit.edu.au/austlit/page/6129914">teaching</a> of, Australian literary, narrative, and print cultures and the expansion of knowledge about the place of story in Australian culture in the past and present. Through HuNI, AustLit aims to support and expand research that draws connections between important cultural datasets.</p>
<p>The <a href="http://www.itee.uq.edu.au/eresearch/">UQ eResearch Lab</a> (Anna Gerber, Simon McNaughton and Jane Hunter) developed a number of software services/tools for the HuNI Virtual Laboratory.</p>
<p>These include:</p>
<ul class="logos">
<li>Mapping of XML metadata harvested from cultural collections to the HuNI RDF data model.</li>
<li>Extensions to the <a href="https://github.com/auselit/lore">LORE tool</a> for creating and publishing compound resources that document relationships between Web resources and HuNI entities. This work involved converting LORE to both an <a href="https://github.com/uq-eresearch/lore-gadget">Open Social Gadget</a> and a <a href="https://github.com/uqsmcnau/lore-webapp">standalone web app</a> – new open source tools that will enable greater use of LORE by digital humanities researchers.</li>
</ul><p>&nbsp;</p>
  </div>
</div>
<hr class="bottom-space" />
<div class="row">
  	<div class="col-xs-12 col-sm-12  col-md-3 col-lg-3">
  		<a href="http://sydney.edu.au/"><img alt="HuNI - project partners" class="img-responsive" src="images/USY_logo.gif" /></a>
  	</div>
  	<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
  		<h3><a href="http://sydney.edu.au/">University of Sydney</a></h3>
 		<p class="bottom-space">The University of Sydney has been an integral part in the HuNI development through the work of Ian Johnson and his involvement with Heurist. Heurist is enabling the sustainability of HuNI by providing an interface for users to enter their own data into the HuNI Data Model, on top of the initial phase of the 30 data sets already ingested. This will allow HuNI to grow and expand in to the future. The University of Sydney also jointly runs <a href="http://paradisec.org.au/">PARADISEC</a> (with The University of Melbourne) which is a key dataset in the HuNI aggregate.</p>
  </div>
</div>
<hr class="bottom-space" />
<div class="row">
  	<div class="col-xs-12 col-sm-12  col-md-3 col-lg-3">
<a href="http://www.uwa.edu.au/"><img alt="HuNI - project partners" class="img-responsive" src="images/UWA_logo.jpg" /></a>
  	</div>
  	<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
  		<h3><a href="http://www.uwa.edu.au/">University of Western Australia</a></h3>
 		<p>UWA Information Services was very pleased to be part of the HuNI Project. Our involvement was coordinated by Dr Toby Burrows (Manager, eResearch Support) and included contributions to the service design and architecture, as well as specific roles as Outreach Coordinator and Product Owner. UWA has also been closely involved in HuNI activities around user uptake, stakeholder management, and the promotion of HuNI through conference presentations, workshops and publications.</p>
<p class="bottom-space">UWA Information Services contributed to HuNI as part of our commitment to <a href="http://www.is.uwa.edu.au/research">services for researchers</a> and our involvement in promoting the <a href="http://www.ias.uwa.edu.au/conf/digital-humanities">digital humanities at UWA</a></p>
  </div>
</div>
<hr class="bottom-space" />
<div class="row">
  	<div class="col-xs-12 col-sm-12  col-md-3 col-lg-3">
<a href="http://www.v3.org.au/"><img alt="HuNI - project partners" class="img-responsive" src="images/V3Alliance_logo.jpg" /></a>
  	</div>
  	<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
  		<h3><a href="http://www.v3.org.au/">V3 Alliance</a></h3>
 		<p>V3 Alliance (V3) is a capability partner supporting the HuNI mission to improve access to Australia’s cultural datasets. V3 succeeds the Victorian eResearch Strategic Initiative (VeRSI), one of the original partners in implementing the national HuNI initiative. V3 has made a significant contribution particularly through the involvement of key staff through different periods of the project. As Project Manager for much of the development phase, Alex Hawker was integral to ensuring HuNI’s success. Richard Rothwell initiated the Virtual Laboratory development.  Early stages of the project were handled by the Technical Coordinator, Conal Tuohy. Elizabeth Tatham provided communications support to the team. VeRSI and V3 CEO Ann Borda has been an instrumental and enthusiastic contributor to HuNI from the outset and also served on the project's Steering Committee.</p>
<p class="bottom-space">V3 is continuing its involvement with HuNI as a co-operator responsible for overseeing the maintenance of the project technical infrastructure.</p>
  </div>
</div>
<div class="clearfix"></div>
