<div class="col-xs-12"><h2 class="space-above">Technologies</h2></div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <p>The HuNI Lab and Harvest Toolchain are constructed from the following Open Source components.</p>
      <li><a href="https://angularjs.org">AngularJS</a></li>
      <li><a href="http://angular-ui.github.io">AngularUI</a></li>
      <li><a href="http://ansible.com">Ansible</a></li>
      <li><a href="http://lucene.apache.org/solr">Apache Solr</a></li>
      <li><a href="http://d3js.org">D3</a></li>
      <li><a href="http://perldancer.org">Dancer2</a></li>
      <li><a href="http://debian.org">Debian</a></li>
      <li><a href="http://dbix-class.org">DBIx::Class</a></li>
      <li><a href="https://docker.com">Docker</a></li>
      <li><a href="http://lxml.de">LXML</a></li>
      <li><a href="http://momentjs.com">Moment</a></li>
      <li><a href="http://nginx.org">nginx</a></li>
      <li><a href="http://perl.org">Perl</a></li>
      <li><a href="http://plackperl.org">Plack</a></li>
      <li><a href="http://www.postgresql.org">PostgreSQL</a></li>
      <li><a href="http://www.python.org">Python</a></li>
      <li><a href="http://sqitch.org">Sqitch</a></li>
      <li><a href="http://summernote.org">Summernote</a></li>
      <li><a href="http://www.ubuntu.com">Ubuntu</a></li>
      <li><a href="https://github.com/mishoo/UglifyJS2">UglifyJS2</a></li>
      <li><a href="http://underscorejs.org">Underscore</a></li>
      </ul>
      <h3>HuNI Lab Architecture</h3>
      <p>The HuNI Lab is constitued of four primary components.</p>
      <ol>
      <li>The Solr Document Index contains the harvested and indexed partner documents. It exposes a search API allowing matching documents to be returned. It is a read only resource of the HuNI VL.</li>
      <li>The Database stores user profile information, links between documents, collection lists, and associated metadata. It is a read write resource of the HuNI VL allowing users to manipulagte HuNI VL information.</li>
      <li>The HuNI VL is made up of both an Nginx HTTP server and a RESTful API service. The Nginx server sends the application javascript, HTML components, stylesheets, and images to the client (user&#8217;s browser). The RESTful API allows the client application to query and manage the user profile information, links, and collections. It also enforces access restrictions.</li>
      <li>The Nginx proxy server acceps all Internet facing requests and delegates them to the appropriate backend service. All access to the HuNI VL is via HTTPS.</li>
      </ol>
      <img alt="HuNI - Lab Architecture" class="img-responsive" src="images/huni-lab-architecture.png" /> 
      <h3>HuNI Harvest, Pre-process, Transform and Index Pipeline</h3>
      <p>Data is imported into HuNI&#8217;s Solr Document Index in four steps. Each partner site makes a &#8216;feed&#8217; available to HuNI for harvesting on a publically accessible location via the Internet. Each step in the process below results in a file on disk in the raw, clean, and final Solr format for every document ingested into HuNI.</p>

      <ol>
      <li>Harvest - partner sites are polled daily for updates using either HuNI&#8217;s custom &#8216;Simple XML&#8217; format or the OAI-PMH protocol. The harvest code is custom python and bash scripts.</li>
      <li>Pre-process - where necessary data is pre-processed to ensure it can be properly transformed.</li>
      <li>Transform - Custom Pythn code and XSLT templates transform the harvested data into the standard HuNI ontology ready for indexing by Solr.</li>
      <li>Index - Documents are submitted to a sSolr instance for indexing. The result is a body of indexed documents made up of the most recently harvested versions. This can be quickly searched via an HTTP interface.</li>
      </ol>
      <img alt="HuNI - Harvest, Pre-process, Transform and Index Pipeline" class="img-responsive" src="images/huni-harvest-preprocess.png" />
  </div>
<hr class="bottom-space" />
<div class="col-xs-12"><h2 class="space-above">Acknowledgements</h2></div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h3>Web Development - Strategic Data</h3>
      <a href="http://www.strategicdata.com.au/">
      <img alt="HuNI - project partners" class="img-responsive pull-left" src="images/strategic-data-sm.png" /></a>
    <p>Strategic Data is a consulting and software development company specialising in the design, development, and maintenance of data intensive online applications. It has a long history of both Academic and Government partnerships.</p>
    <p>Strategic Data provided partner technical support, infrastructure design, software development, and product management services during the development of the production HuNI Lab and maintained the data harvest toolchain.</p> 
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h3>Interface Design - Viveka de Costa</h3>
    <p>Viveka's role was to visually interpret the features and functions of the virtual lab to best facilitate the engagement and participation of the user community. In addition to page layout and navigation, this task involved the development of readily identifiable visual metaphors and icons. Working with both the Semantic Lead and the Web Developers, Viveka balanced the interests of the users and product owners with the technical scope of the project.</p>
    <p>Programs used for the design work include Adobe Illustrator and Omnigraffle. In collaboration with Strategic Data, Viveka also built the HTML template and stylesheet using the Bootstrap framework.<p>    
  </div>
  <div class="clearfix"></div>
