<div class="modal-header">
  <h3 class="modal-title">Select a collection</h3>
</div>
<div class="modal-body">
  <div ng-if="loading">
    Loading your collections
  </div>
  <div ng-if="!loading && error">
    {{error}}
  </div>
  <tabset ng-if="!loading && !error">
    <tab heading="Choose an existing collection"
         active="tab.choose_existing.active"
         disable="tab.choose_existing.disabled">
      <select ng-model="data.selectedCollection"
              ng-options="c.name for c in collections"
              class="form-control">
      </select>
    </tab>
    <tab heading="&#65291; Create a new collection"
         active="tab.create_new.active"
         disable="tab.create_new.disabled">
      <input ng-model="data.newCollection"
             type="text"
             class="form-control"
             placeholder="Name your collection"/>
    </tab>
  </tabset>
</div>
<div class="modal-footer">
    <button class="btn btn-success"
            ng-disabled="loading||error||(tab.create_new.active && data.newCollection.trim().length == 0)"
            ng-click="ok()">
      OK
    </button>
    <button class="btn btn-warning" ng-click="$dismiss('Cancelled')">
      Cancel
    </button>
</div>
