<div class="modal-header">
  <h3 class="modal-title">{{ title }}</h3>
</div>
<div class="modal-body">
  <div ng-show="permissions.can_edit_title">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" ng-model="name">
    </input>
  </div>
  <div ng-show="permissions.can_edit_notes">
    <label for="synopsis">Notes</label>
    <textarea placeholder="Notes for collection"
           class="form-control" rows="4" id="synopsis"
           ng-model="synopsis"></textarea>
  </div>
</div>

<div class="modal-footer">
    <button class="btn btn-success"
            ng-disabled="!name"
            ng-click="close()">
      OK
    </button>
    <button class="btn btn-warning" ng-click="$dismiss('Cancelled')">
      Cancel
    </button>
</div>
