<form name="dialog" novalidate>
  <div class="modal-header">
    <h3 class="modal-title">Create a new relationship type</h3>
  </div>
  <div class="modal-body">
    <div>
      {{fromRecord | recordName}}
    <input type="text" placeholder="e.g. Sample relationship" ng-model="data.name" ng-required="true"
           typeahead="s for s in names | matchLookahead:$viewValue | limitTo:16">
            {{toRecord | recordName}}
     </div>
    <hr />
    <input type="checkbox" ng-model="data.symmetric"> <em>This relationship is the same in both directions</em>
<hr />
    <div class="target">
      {{toRecord | recordName}}
      <input type="text" ng-model="data.pair" ng-required="!data.symmetric"
             ng-hide="data.symmetric"
             placeholder="e.g. Sample relationship"
             typeahead="s for s in names | matchLookahead:$viewValue | limitTo:16">
      <input type="text" ng-model="data.name"
             ng-show="data.symmetric"
             ng-disabled="true"
             placeholder="e.g. Sample relationship"
             typeahead="s for s in names | matchLookahead:$viewValue | limitTo:16">
      {{fromRecord | recordName}}
    </div>
  </div>
  <div class="modal-footer">
      <button class="btn btn-success" ng-click="ok()" ng-disabled="!dialog.$valid">
        OK
      </button>
      <button class="btn btn-warning" ng-click="$dismiss('Cancelled')">
        Cancel
      </button>
  </div>
</form>
