<div class="modal-header">
  <h3 class="modal-title">Licence</h3>
</div>
<div class="modal-body">
    HuNI data are made available under the following <a href="http://www.ausgoal.gov.au/creative-commons-v4.0">AusGOAL / Creative Commons licence</a>: Attribution-NonCommercial-ShareAlike 4.0 International (<a href="http://creativecommons.org/licenses/by-nc-sa/4.0/deed.en">CC BY-NC-SA 4.0</a>)
</div>
<div class="modal-footer">
    <button class="btn btn-success" ng-click="$close(true)">
      Acknowledge
    </button>
</div>
