<span ng-switch="status">
  <div ng-switch-when="empty" class="huni-status huni-status-empty">
    <h3> {{emptyMessage }} </h3>
  </div>
  <div ng-switch-when="error" class="huni-status huni-status-error">
    <h3> {{errorMessage }} </h3>
    <img src="images/bees/crashing.png">
  </div>
  <div ng-switch-when="loading" class="huni-status huni-status-loading">
    <h3> {{loadingMessage }} </h3>
    <!-- <img src="images/bees/patient.png"> -->
  </div>
</span>
