<div class="panel panel-default {{record | recordClass}}">
  <div class="panel-body">
    <a class="{{record | recordClass}}" title="View Full Record"
       ng-href="#/record/{{record.docid}}">
      <span class="icon-sml icon-{{record | recordClass}}"></span>
        {{record | recordClass | uppercase}}:
        {{record | recordName}}
    </a>
  </div>
</div>
