<div class="panel panel-default {{record | recordClass}}"
  ng-style="embedded ? {'height': 'calc(100vh - 52px)', 'margin-bottom': 0} : {}">
  <div class="panel-body" id="panel-body">
    <!-- checkbox for embedding -->
    <!--span ng-show="!brief">
      Embed: <input type="checkbox" ng-model="embedded" ng-change="toggleEmbed()">
    </span-->
    <div class="checkbox right">
      <span ng-if="brief && !embedded">
        <graph-view-button docid="record.docid" />
      </span>
      <span ng-if="!brief && !embedded">
        <embed-button record="record" snap-in="snapIn" />
      </span>
      <span ng-if="user.loggedIn && !isCollection() && !embedded">
        <collection-button record="record" snap-in="snapIn" />
      </span>
      <span ng-if="user.loggedIn && !isCollection() && !embedded">
        <link-button record="record" snap-in="snapIn" />
      </span>
      <span ng-if="record.linkCount && !embedded">
        <query-button record="record" snap-in="snapIn" />
      </span>
      <span ng-if="isCollection() && !embedded">
        <export-collection-button collection="record" />
      </span>
    </div>
    <h5 ng-if="brief && !embedded">
      <a class="{{record | recordClass}}" title="View Full Record"
         ng-href="#/record/{{record.docid}}">
        <span class="icon-sml icon-{{record | recordClass}}"></span>
          {{record | recordClass | uppercase}}:
          {{record | recordName}}
      </a>
    </h5>
<h5 class="detail-view" ng-if="!brief && !embedded"><span class="icon-sml icon-{{record | recordClass}}"></span>
      {{record | recordClass | uppercase}}:
      {{record | recordName}}
    </h5>
    <h5 ng-if="!brief && embedded">
      <a class="{{record | recordClass}} a-embed" title="View Full Record"
         ng-href="/#/record/{{record.docid}}" target="_blank">
        <span class="icon-sml icon-{{record | recordClass}}"></span>
          {{record | recordClass | uppercase}}:
          {{record | recordName}}
      </a>
    </h5>
    <!-- This is where the network graph renders -->
    <div ng-if="!brief" id="graph" ng-style="embedded ? {'height': 'calc(100vh - 162px)'} : {}"></div>
 <h5 class="detail-view" ng-if="!brief && !embedded"><span class="icon-sml icon-{{record | recordClass}}"></span>
      {{record | recordClass | uppercase}}:
      {{record | recordName}}
    </h5>
    <h3 ng-if="!brief && !embedded">Details</h3>

    <p ng-if="record.sourceRecordLink && record.sourceSiteAddress && !isCollection() && !embedded">
      <strong>View</strong> <a ng-href="{{record.sourceRecordLink}}"> original record</a>
      from
      <a href="{{record.sourceSiteAddress}}">{{record.sourceAgencyName}}</a>
    </p>
    <p ng-if="record.sourceRecordLink && !record.sourceSiteAddress && !isCollection() && !embedded">
      <strong>View</strong> <a ng-href="{{record.sourceRecordLink}}"> original record</a>
      from {{record.sourceAgencyName}}
    </p>
    <p ng-if="!record.sourceRecordLink && !isCollection() && !embedded">
      <strong>Provider: </strong>
      <span ng-if="record.sourceRecordLink"><a ng-href="{{record.sourceRecordLink}}">{{record.sourceAgencyName}}</a></span>
      <span ng-if="!record.sourceRecordLink">{{record.sourceAgencyName}}</span>
    </p>

    <p ng-show="record.warning | isNonEmpty" ng-if="!embedded">
      <span ng-bind-html="record.warning | trust" />
    </p>
    <p ng-show="record.type | isNonEmpty" ng-if="!embedded">
      <strong>Type:</strong>
      {{record.type}}
    </p>

    <p ng-show="record.startDate || record.endDate" ng-if="!embedded">
      <span ng-show="record.startDate && !record.birthDate && !record.creationDate">
          <strong>Started:</strong>
          {{record.startDate}}
      </span>
      <span ng-show="record.birthDate">
        <strong>Birth:</strong>
        {{record.birthDate}}
      </span>
      <span ng-show="record.creationDate">
        <strong>Created:</strong>
          {{record.creationDate}}
      </span>

      <span ng-show="record.endDate && !record.deathDate">
          <strong>Ended:</strong>
          {{record.endDate}}
      </span>
      <span ng-show="record.deathDate">
        <strong>Death:</strong>
        {{record.deathDate}}
      </span>
      <span ng-show="record.releaseDate">
        <strong>Released:</strong>
          {{record.releaseDate}}
      </span>
    </p>

    <p ng-show="record.function | isNonEmpty" ng-if="!embedded">
      <strong>Function:</strong>
      <span>{{record.function}}</span>
    </p>
    <p ng-show="record.occupation | isNonEmpty" ng-if="!embedded">
      <strong>Occupation:</strong>
      {{record.occupation}}
    </p>
    <p ng-show="record.biography | isNonEmpty" ng-if="!embedded">
      <strong>Biography:</strong>
      {{record.biography | truncate:200:!brief}}
    </p>
    <p ng-show="record.format | isNonEmpty" ng-if="!embedded">
      <strong>Format:</strong>
      {{record.format}}
    </p>
    <p ng-show="record.formatDetails | isNonEmpty" ng-if="!embedded">
      <strong>Format Details:</strong>
      {{record.formatDetails}}
    </p>

    <p ng-show="record.publishedIn | isNonEmpty" ng-if="!embedded">
      <strong>Published In:</strong>
      {{record.publishedIn}}
    </p>

    <p ng-show="record.mentions.length > 0" ng-if="!embedded">
      <strong>Mentions:</strong>
      <p class="mention" ng-repeat="m in record.mentions.slice(0, mentionsToShow(record))">
        <span ng-bind-html="mentionLink(m) | trust"></span>
      </p>
      <p class="mention" ng-if="mentionsToShow(record) < record.mentions.length">
        <a title="View Full Record"
         ng-href="#/record/{{record.docid}}">
        (and {{record.mentions.length - mentionsToShow(record)}} more)
        </a>
      </p>
    </p>

    <p ng-show="record.description | isNonEmpty" ng-if="!embedded">
      <strong>Description:</strong>
      {{record.description | truncate:200:!brief}}
    </p>

    <p ng-show="record.url | isNonEmpty" ng-if="!embedded">
      <strong>Web Link:</strong>
      <a href="{{record.url | weblink}}">{{record.url | weblink}}</a>
    </p>

    <p ng-show="record.language | isNonEmpty" ng-if="!embedded">
      <strong>Language:</strong>
      {{record.language}}
    </p>

    <p ng-if="brief && !isCollection() && !embedded">
      <span class="icon-tiny icon-collection-stack"></span>
      <strong><span title="This record appears in the following user-created collections">Collections:</span></strong>
      <span ng-repeat="c in sortedCollections(record)">
        <a href="{{collectionUri(c)}}">{{c.name}}</a><span ng-if="!$last">,</span>
      </span>
      <span ng-if="!hasCollections(record)">
        None
      </span>
    </p>

    <p ng-show="brief && !isCollection()" ng-if="!embedded">
      <span class="glyphicon glyphicon-link"></span>&nbsp;
        <strong><span title="This record has been linked to other records by HuNI users">Record Links:</span></strong> {{record.linkCount}}
    </p>

    <p ng-show="brief && !isCollection() && record.baconDistance" ng-if="!embedded">
        <strong><span title="Distance to Kevin Bacon">Bacon Distance:</span></strong> {{record.baconDistance}} <a ng-href="#/record/{{record.docid}}/{{record.bacon_docid}}"><span class="glyphicon glyphicon-circle-arrow-right"></span> View path</a>
    </p>

    <p ng-if="brief && isCollection() && record.record_count && !embedded">
      <span class="icon-tiny icon-collection-stack"></span>
      <strong><span title="This user-created collection contains the following number of HuNI records">Record count:</span></strong>
      <span> {{record.record_count}} </span>
    </p>

    <p ng-show="!brief && record.username" ng-if="!embedded">
      <strong>Created by:</strong>
      {{record.username}}
    </p>

    <p ng-show="brief" ng-if="!embedded">
      <a ng-href="#/record/{{record.docid}}">
       <span class="glyphicon glyphicon-circle-arrow-right"></span> View Full Record
      </a>
    </p>
<hr ng-if="!brief && !isCollection() && !embedded" class="solid-space" />
    <div ng-if="!brief && !isCollection() && !embedded">
        <h3>Collections</h3>
        <p ng-hide="hasCollections(record)"><em>{{record | recordName}} has not yet been included in any collections.</em></p>
        <p ng-show="hasCollections(record)">{{record | recordName}} is contained in the following collections:</p>
        <table class="table table-striped table-hover"
               ng-if="hasCollections(record)">
            <thead>
                <tr>
                    <th>Collection name</th>
                    <th>Record count</th>
                    <th><span class="glyphicon glyphicon-user"></span> Who owns this collection?</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="c in sortedCollections(record)"
                    ng-mouseenter="highlightLink(c, true)"
                    ng-mouseleave="highlightLink(c, false)"
                    xxx-ng-click="selectLink(c.docid)">
                    <td><record-summary record="c"></record-summary></td>
                    <td><record-count count="{{c.record_count}}"></record-count></td>
                    <td><user-list-short users="c.owners"
                                         link="{{ collectionUri(c) }}">
                        </user-list></td>
                    <td style="text-align: right;"><a href="{{c.link}}">view</a></td>
                </tr>
            </tbody>
        </table>
    </div>
   <hr ng-if="!brief && !embedded" class="solid-space" />
    <div ng-if="!brief && !embedded">
        <h3>Links</h3>
         <p ng-hide="hasLinks(record)"><em>{{record | recordName}} has not yet been linked to other records.</em></p>
        <p ng-show="hasLinks(record)">{{record | recordName}} is linked to the following:</p>
        <table class="table table-striped table-hover"
               ng-if="hasLinks(record)">
            <thead>
                <tr>
                     <th>Record name</th>
                     <th><span class="glyphicon glyphicon-arrow-right"></span> Relationship <em>to</em> selected</th>
                     <th><span class="glyphicon glyphicon-arrow-left"></span> Relationship <em>from</em> selected</th>
                     <th><span class="glyphicon glyphicon-user"></span> Who made this link?</th>
                     <th ng-if="!isCollection()"></th>
                    <!-- <th>Originating Document</th> -->
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="link in record.links"
                    ng-mouseenter="highlightLink(link, true)"
                    ng-mouseleave="highlightLink(link, false)"
                    xxx-ng-click="selectLink(link.to_docid)"
                    >
                    <td><record-summary record="link.record" /></td>
                    <td>{{link.linktype}}</td>
                    <td>{{link.pairtype}}</td>
                    <td><user user="link.user"></user></td>
                    <td ng-if="!isCollection()" style="text-align: right;">
                        <a ng-click="viewLink(link)">view</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>
</div>
<div ng-if="embedded" id="embed-text">
  <p ng-if="record.sourceRecordLink && record.sourceSiteAddress && !isCollection()" class="embed-text">
    Embedded <a href="https://huni.net.au" target="_blank">HuNI</a> view of <a ng-href="{{record.sourceRecordLink}}" target="_blank"> original record</a>
    from
    <a href="{{record.sourceSiteAddress}}" target="_blank">{{record.sourceAgencyName}}</a>
  </p>
  <p ng-if="record.sourceRecordLink && !record.sourceSiteAddress && !isCollection()" class="embed-text">
    Embedded <a href="https://huni.net.au" target="_blank">HuNI</a> view of  <a ng-href="{{record.sourceRecordLink}}" target="_blank"> original record</a>
    from {{record.sourceAgencyName}}
  </p>
</div>
