<div class="row" ng-if="!isPublic">
<my-huni-pills active-tab="collections" user-alert="userAlert">
</my-huni-pills>
</div>
<hr />

<div class="col-lg-12 col-md-12 col-sm-12 single-collection">
  <loading-status status='status' empty-message='Collection not found'>
  </loading-status>
  <h2 ng-show="status == 'ok'">Collection Users: {{ collection.name }}</h2>

  <div class="panel panel-default collection-users col-lg-12 col-md-12 col-sm-12" ng-show="status == 'ok'">
    <div class="panel-body col-lg-8 col-md-8 col-sm-12">
      <div class="row">
        <label ng-show="!users || users.length == 0">
          You're the only user. You can add other users here.
         </label>
        <label ng-show="users.length > 0">
          Find more users to add.
        </label>
        <input
            type="text"
            ng-model="newUser.user"
            placeholder="Type parts of the user's name"
            typeahead="user as user.name for user in userTypeahead($viewValue)"
            typeahead-editable="false"
            typeahead-loading="loadingUsers"
            class="form-control">
      </div>
    </div>
    <div class="panel-body col-lg-2 col-md-2 col-sm-12">
      <div class="row">
        <label>Select role</label>
        <select class="form-control" ng-model="newUser.role_id" class="form-control">
          <option ng-repeat="role in roleOptions" value="{{ role.id }}">
            {{ role.name }}
          </option>
        </select>
      </div>
    </div>
    <div class="panel-body col-lg-2 col-md-2 col-sm-12">
      <div class="row">
        <label>Add user</label>
        <button
            class="btn btn-info form-control"
            type="button"
            ng-click="addUser()"
            ng-disabled="!newUser.user">
            Add User</button>
      </div>
    </div>
  </div>

  <table class="table collection-users" ng-show="users.length > 0">
    <tr>
      <th>User</th>
      <th>Role</th>
      <th>Added By</th>
      <th>Remove</th>
    </tr>
    <tr ng-repeat="user in users | orderBy:'user.name'">
      <td><user user="user.user"></user></td>
      <td>
        <select class="form-control"
                ng-model="user.role_id"
                ng-disabled="!canModify(user)"
                ng-change="updateRole(user)">
          <option ng-repeat="role in roleOptions" value="{{ role.id }}">
            {{ role.name }}
          </option>
        </select>
      </td>
      <td><user user="user.inviting_user"></user></td>
      <td><button type="button" class="btn btn-warning btn-sm"
                  ng-disabled="!canModify(user)"
                  ng-click="removeUser(user)">Remove User</button></td>
    </tr>
  </table>

</div>
