<button class="btn btn-primary btn-sm"
        type="button"
        title="Get Network Embed"
        ng-disabled="!isEnabled"
        ng-click="$emit('EmbedEvent', record)">
<span class="glyphicon icon-embed icon-sml"></span>
</button>
