<a href="" class="btn btn-primary navbar-btn btn-sm"
   ng-disabled="!user.vlabUp" ng-click="click()">
   <span class="glyphicon glyphicon-user"></span>
   <span class="hidden-sm hidden-xs" ng-show="user.loggedIn">Log out {{user.name}}</span>
   <span class="hidden-md hidden-lg" ng-show="user.loggedIn">Log out</span>
   <span ng-hide="user.loggedIn">Log in</span>
</a>
