<div class="col-lg-12 col-md-12 col-sm-12"><!-- start record list-->
  <div class="huni-status huni-status-empty">
    <h3>Sorry. We're unable to locate what you're looking for.</h3>
    <img src="images/bees/hurting.png">
  </div>
</div>