<div>
  <!-- top section: pagination, sort-by etc -->
  <div class="row top-space">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <h2>CMS Editor</h2>
      <form class="form-inline">
        <h5 class="inline">
          Page
        </h5>
        <select class="form-control"
                ng-model="selectedDoc"
                ng-disabled="modified"
                title="Select a Page to Edit"
                ng-options="doc for doc in documents">
        </select>

        <button class="btn btn-primary" type="button"
                ng-click="save()"
                title="Save Changes"
                ng-disabled="!modified">
          Save
        </button>

        <button class="btn btn-danger" type="button"
                ng-click="revert()"
                title="Revert Changes"
                ng-disabled="!modified">
          Revert
        </button>

        <div class="btn-group" dropdown auto-close="always">
          <button id="history-button" type="button" class="btn btn-info"
                  dropdown-toggle>
            History <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu"
              aria-labelledby="history-button">
            <li role="menuitem" ng-repeat="v in history">
              <a ng-click="revertTo(v.version)">
                v{{v.version}}: {{v.created_utc | localDate}}
              </a>
            </li>
          </ul>
        </div>
      </form>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <huni-alert class="myhuni-alert" type="alertType" ng-if="alertMessage" close="closeAlert()">
          {{alertMessage}}
        </huni-alert>
    </div>
  </div>
  <div class="row top-space">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <summernote config="options" ng-model="content">
      </summernote>
    </div>
  </div>
</div>
