<div class="row" ng-if="!isPublic">
<my-huni-pills active-tab="collections" user-alert="userAlert">
</my-huni-pills>
</div>
<hr ng-if="!isPublic" />

<!-- start top row-->
<div class="col-lg-12 col-md-12 col-sm-12 single-collection">
  <div ng-show="status==='ok'">
    <div class="pull-right">
      <graph-view-button docid="collection.docid" />
      <export-collection-button collection="collection" />
    </div>
    <h2><span ng-show="isPublic">Public Collection: </span>
        <a href="#/record/{{collection.docid}}">{{collection.name}}</a>
    </h2>
    <table class="collection-info">
      <tr>
        <th scope="row">Owners</th>
        <td><user-list users="collection.owners"></user-list></td>
      </tr>
      <tr ng-if="!isPublic">
        <th scope="row">Editors</th>
        <td><user-list users="collection.editors"></user-list></td>
      </tr>
      <tr ng-if="!isPublic">
        <th scope="row">Viewers</th>
        <td><user-list users="collection.viewers"></user-list></td>
      </tr>
      <tr>
        <th scope="row">Last Updated</th>
        <td>{{collection.modified_utc | localDate}}</td>
      </tr>
      <tr>
        <th scope="row">Created</th>
        <td>{{collection.created_utc | localDate}}</td>
      </tr>
      <tr ng-show="collection.synopsis | isNonEmpty">
        <th scope="row">Notes</th>
        <td>{{collection.synopsis}}</td>
      </tr>
    </table>
    <h3 ng-hide="collection.records.length">No records in collection</h3>
  </div>
</div>
<!-- end top row-->
<!-- results -->
<div class="col-lg-12 col-md-12 col-sm-12"><!-- start record list-->
  <loading-status status='status'
                  empty-message='Collection not found'
                  >
  </loading-status>
  <record-list records="collection.records"
               snap-in="activeSnapIn"
               logged-in="user.loggedIn"
               user="user"
               >
  </record-list>
</div>
