<h2  class="space-above">HuNI: Data Policy</h2>
<p> This statement summarizes the policies of the HuNI Virtual Laboratory in relation to its data. It should be read in conjunction with the <a href="#/terms-conditions">HuNI Terms and Conditions of Use</a>. </p>
<h3>The HuNI Data Aggregate</h3>
<h4>Data Contained in the HuNI Aggregate</h4>
<p>The HuNI service contains the following aggregated data:</p>
<ul>
  <li>Data contributed by data providers. This includes records from source datasets, which have been reformatted to map to the HuNI Data Model;</li>
  <li>User-contributed data. This includes links between HuNI records added by HuNI users, and collections of records assembled and annotated by HuNI users. </li>
</ul>
<p>HuNI provides an aggregated view of the data contributed by data providers, but is not intended to be a mechanism for providing users with the actual digital objects (images, texts, videos and the like). That responsibility remains with the data provider. With the agreement of data providers, HuNI may include thumbnails and other abstracted forms where these aid searching and visibility.</p>
<h4>Data Manager</h4>
<p>The HuNI service, including the aggregated data, is managed by Deakin University. Deakin University was and is the sub-contractor engaged by the University of Melbourne to manage the development of HuNI under the NeCTAR funding programme.</p>
<h4>Data Accessibility and Licence under which data is made available</h4>
<p>The public data in the HuNI service consists of the data contributed by Data Providers, and those user-contributed collections which HuNI users have chosen to make publicly accessible. The public data in the HuNI service is made available under the following <a href="http://www.ausgoal.gov.au/creative-commons-v4.0">AusGOAL / Creative Commons licence</a>:</p>
  <p>Attribution-NonCommercial-ShareAlike 4.0 International (<a href="http://creativecommons.org/licenses/by-nc-sa/4.0/deed.en">CC BY-NC-SA 4.0</a>)
  This entails that users can copy and redistribute the material in any medium or format and remix, transform, and build upon the material, but only for non-commercial purposes. </p>
  <p>The following terms must be observed:</p>
<ul>
  <li>Attribution — wherever data from the HuNI Service are re-used, you must give appropriate credit, provide a link to the license, and indicate if changes were made. Further details about attribution are specified in the <em>HuNI Terms and Conditions</em> document.</li>
  <li>NonCommercial – if you remix, transform or build upon the material, this must only be for non-commercial purposes.</li>
  <li>ShareAlike — if you remix, transform, or build upon the material, you must distribute your contributions under the same license as the original. <br />
  </li>
</ul>
<h3>Contribution of data: Registered users of HuNI</h3>
<p>There are three main types of data which may be contributed by registered users of HuNI:</p>
<ul>
  <li>Links between two HuNI records, added by HuNI users and containing a user's assertions about the nature of the link between the two records; </li>
  <li>User Collections, which consist of groups of HuNI records assembled within the HuNI Virtual Laboratory by a registered user for research purposes, and usually annotated by the user who created the collection; and,</li>
  <li>Data collections created using the Heurist software tool developed by the University of Sydney, and contributed to HuNI by individual users.</li>
</ul>
<p>User-contributed links are public and attributable to the user who created them. They form part of the publicly accessible "HuNI Data Aggregate" and are licenced for re-use on the same basis as the rest of the "HuNI Data Aggregate".</p>
<p>Users who create collections within HuNI may choose to keep a collection private or to share it with a specific named HuNI user or group of users. No public licencing is applicable, but the general "Terms and Conditions of Use" apply. The primary purpose of sharing with named user(s) is to facilitate research collaborations, academic debate and the like.</p>
  <p>Users may also choose to publish their collection so that it is viewable as part of the public HuNI service. In this case, the data in the collection are licenced for re-use on the same basis as the rest of the publicly accessible "HuNI Data Aggregate".</p>
<p>The document <em>"HuNI: Terms and Conditions of Use"</em> sets out the general terms which govern the use of HuNI, including contribution and re-use of data by individual users. </p>
<h3>Data Export and Re-use </h3>
<p>All users of HuNI, whether registered or anonymous, may export and re-use public HuNI data for personal research purposes, in accordance with the general "Terms and Conditions of Use" applicable to HuNI.</p>
 <p> Registered individual users of HuNI may additionally export and re-use data which they have contributed to HuNI but not made public, in accordance with the general "Terms and Conditions of Use" applicable to HuNI. This permission only covers those private collections created by the user, and does not extend to collections created by another user and shared privately within HuNI.</p>
  <p>HuNI data providers who are interested in exporting enhanced records back from HuNI into their original source dataset may do so under the terms of under the <a href="http://www.ausgoal.gov.au/creative-commons-v4.0">AusGOAL / Creative Commons licence</a>: Attribution-NonCommercial-ShareAlike 4.0 International (<a href="http://creativecommons.org/licenses/by-nc-sa/4.0/deed.en">CC BY-NC-SA 4.0</a>). </p>
<p>Third-party data aggregators who wish to incorporate HuNI content into their services may do so under the terms of under the <a href="http://www.ausgoal.gov.au/creative-commons-v4.0">AusGOAL / Creative Commons licence</a>: Attribution-NonCommercial-ShareAlike 4.0 International (<a href="http://creativecommons.org/licenses/by-nc-sa/4.0/deed.en">CC BY-NC-SA 4.0</a>).</p>
<p>Comment or feedback on any aspect of this Data Policy may be made to <a href="mailto:info@huni.net.au">info@huni.net.au</a> </p>
<p>&nbsp;</p>


