<div class="span12">
    <h3>Linked Data</h3>
    <p>
    One of the core pieces of functionality of this site is the ability to assert that two records in the aggregate are indeed
    linked in some way.
    </p>
    <p>
    Whilst browsing search results (assuming you are logged in at this point) you'll notice each record has a checkbox labelled 
    <strong>Assert a connection</strong>. Selecting this will tag that item as the <em>source element</em> of a relationship 
    with another record. Upon selection, you'll notice that the checkboxes become labelled as <strong>Selct </strong>
    </p>
</div>
