<div class="span12">
    <div class="top-space">
        <loading-status status="status">
        </loading-status>
        <record ng-show="status=='ok'"
                record="record"
                snap-in="activeSnapIn"
                logged-in="user.loggedIn"
                user="user"
                >
        </record>
    </div>
</div>
