<div>
  <!-- top section: pagination, sort-by etc -->
  <div class="row top-space">
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
      <h2>{{search.title}}</h2>
      <h5>{{search.status}}</h5>
    </div>
    <!-- sorting dropdown - ->
    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-4">
      <p class="inline"> Sort by: </p>
      <div class="btn-group" >
        <button type="button"  class="btn btn-info dropdown-toggle" data-toggle="dropdown">Relevance <span class="caret"></span></button>
        <ul class="dropdown-menu tool-bar" role="menu" aria-labelledby="dropdownMenu">
          <li><a tabindex="-1">Alphabetical</a></li>
          <li><a tabindex="-1">Date</a></li>
        </ul>
      </div>
    </div>
    -->
    <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
      <pagination
        ng-show="search.totalRecords"
        ng-disabled="search.isBusy"
        class="pull-left"
        total-items="search.totalRecords"
        ng-model="search.currentPage"
        ng-change="gotoPage(search.currentPage)"
        items-per-page="search.recordsPerPage"
        max-size="3"
        boundary-links="true"
        rotate="false"
        previous-text="&lsaquo;" next-text="&rsaquo;"
        first-text="&laquo;" last-text="&raquo;"
      ></pagination>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
      <!--
      <button class="btn btn-primary add-all"
              title="Add all records on this page to a collection">
      <span class="glyphicon icon-add-all-collect icon-sml"></span>
      </button>
      -->
    </div>
  </div>
  <!-- search-controls and search-results (two columns) -->
  <div class="row top-space">
    <!-- left hand column -->
    <div class="col-lg-3 col-md-3">

      <!-- Graph Query Source Record -->
      <div ng-if="search.hasSourceRecord && search.source">
        <div class="panel panel-default" ng-controller="PersistentCollapseController", ng-init="init('search', false)">
          <div class="panel-heading" ng-click="toggleCollapsed()">
              <h4 class="panel-title">
                <a href="">
                  From Record
                  <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
              </h4>
          </div>
          <record-mini record="search.source" collapse="isCollapsed">
          </record-mini>
        </div>
      </div>

        <!-- Keyword Search -->
      <div ng-if="search.hasUserString">
        <div class="panel panel-default" ng-controller="PersistentCollapseController", ng-init="init('search', false)">
          <div class="panel-heading" ng-click="toggleCollapsed()">
              <h4 class="panel-title">
                <a href="">
                  Keyword Search
                  <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
              </h4>
          </div>
          <div class="panel" collapse="isCollapsed">
            <div class="panel-body">
              <form ng-submit="updateUserString()" class="input-group">
                  <input type="text" class="form-control"
                      ng-model="search.userString"
                      autofocus="autofocus"/>
                  <span class="input-group-btn"><button class="btn btn-primary" type="submit" ng-disabled="search.isBusy">Search!</button></span>
              </form>
            </div>
          </div>
        </div>
      </div>

        <!-- Filter all search results -->
        <div class="panel panel-default" ng-controller="PersistentCollapseController" ng-init="init('search-filters', false)">
            <div class="panel-heading" ng-click="toggleCollapsed()">
                <h4 class="panel-title">
                  <a href="">
                    Filter All Search Results
                    <span class="glyphicon glyphicon-chevron-right"></span>
                  </a>
                </h4>
            </div>
            <div class="panel-collapse">
              <div class="panel" collapse="isCollapsed">
                <div ng-repeat="facet in search.facet.facets">
                  <div ng-controller="PersistentCollapseController"
                       ng-init="init('filter-'+facet.facetName, false)">
                    <div class="panel-heading">
                      <h5> {{facet.displayName}} </h5>
                      <a class="accordion-toggle show-hide" href=""
                          ng-click="toggleCollapsed()"> show/hide
                        <span class="glyphicon glyphicon-play"></span>
                      </a>
                    </div>
                    <div class="panel-body" collapse="isCollapsed">
                      <div class="checkbox results" ng-repeat="field in facet.fields">
                        <label>
                          <input type="checkbox" ng-model="field.isSelected"
                               ng-disabled="search.isBusy"
                               ng-change="updateFacetSelections(facet.facetName)">
                               {{field.displayName}}
                               <span>({{field.count | number}})</span>
                        </label>
                      </div> <!-- ng-repeat field -->
                    </div>
                    <hr ng-if="!$last" class="side-panel">
                  </div>
                </div> <!-- ng-repeat facet -->
                <!-- Date - ->
                <div ng-controller="PersistentCollapseController" ng-init="init('filter-dates', true)">
                  <div class="panel-heading">
                    <h5> Date </h5>
                    <a class="accordion-toggle show-hide" href=""
                        ng-click="toggleCollapsed()"> show/hide
                      <span class="glyphicon glyphicon-play"></span>
                    </a>
                  </div>
                  <div class="panel-body" collapse="isCollapsed">
                    Date controls go here
                  </div>
                </div>
                -->
              </div>
            </div>
        </div>
    </div>

    <!-- results -->
    <div class="col-lg-9 col-md-9 col-sm-9"><!-- start record list-->
      <div ng-include="'vlab/cms/search-results'"></div>
      <loading-status
        status='search.loadingStatus'
        empty-message='Your search did not match any records'
        >
      </loading-status>
      <record-list records="search.records"
                   snap-in="activeSnapIn"
                   user="user"
                   logged-in="user.loggedIn">
      </record-list>
      <pagination
        ng-show="search.totalRecords"
        ng-disabled="search.isBusy"
        class="pull-left bottom-space"
        total-items="search.totalRecords"
        ng-model="search.currentPage"
        ng-change="gotoPage(search.currentPage)"
        items-per-page="search.recordsPerPage"
        max-size="3"
        boundary-links="true"
        rotate="false"
        previous-text="&lsaquo;" next-text="&rsaquo;"
        first-text="&laquo;" last-text="&raquo;"
      ></pagination>
      <div class="return-to-top" ng-show="search.records">
      <a href="" ng-click="topOfPage()" class="btn btn-info"><span class="glyphicon glyphicon-arrow-up"></span> return to top</a>
      </div>
      </div>
    </div>
  </div>
  <div class="top-space"></div>
</div> <!-- ResultsController -->
