<h2  class="space-above">HuNI: Terms and Conditions of Use</h2>
 <p> The HuNI service provides aggregated data for the humanities and creative arts in Australia. This material is provided to HuNI by a number of contributing institutions.</p>
<h3>General Terms and Conditions for Visitors</h3>
  <h4>HuNI Data</h4>
  <p>All data available through HuNI are licenced for reuse under the terms of a Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International (CC BY-NC-SA 4.0) licence. If you re-use data published through HuNI, we ask you to follow the HuNI Usage Guidelines for Data and to provide attribution to the data sources as required by the licence (as stated below).</p>
  <h4>Notice and Takedown</h4>
  <p>If you think that anything included in the HuNI service infringes your rights, you may report this to <a href="mailto:info@huni.net.au">info@huni.net.au</a> </p>
  <h4>Liability Disclaimer</h4>
  <p>Deakin University does not guarantee the accuracy or completeness of the HuNI Web site and its content.<br />
    Except to the extent required by law, Deakin University is not liable for any loss or damage (including any special, consequential, punitive or exemplary damages) suffered by Users contributing to or using the HuNI website or its content. In particular, it will not be liable for:</h2>
  </p>
<ul>
  <li>the accuracy or completeness of the HuNI website or its content;</li>
  <li>any infringement of copyright in data or content;</li>
  <li>any use of data or content by a user which exceeds the rights granted by these terms and conditions and the licence.</li>
</ul>
<h4>These terms of use</h4>
<p>By exercising any rights to the Web site or its content on grounds of these terms of use, you accept and agree to be bound by these terms of use. Deakin University reserves the right to amend these terms of use. <br />
  These terms of use are governed by the laws of Australia.</p>
<h3>Terms and Conditions for User Contributions to HuNI</h3>
<p>This section contains the terms and conditions applicable to registered Users who contribute content to the HuNI service. By logging into the HuNI service, the User indicates acceptance of these terms and conditions. </p>
<h4>Registration for the Service</h4>
<ol><li>Before Content can be contributed, the User must log into to the HuNI service in the manner described on the Web site. </li>
<li>It is the responsibility of the User to keep their Username/Password combination confidential. The User is therefore responsible for all use that is made of the service through the Username and the Password.</li></ol>
  <h4>Information Relating to Users of HuNI</h4>
<ol>
  <li>The HuNI service will store the following information about each User: Username/Password, links created by that User, Collections created by or editable by that User, and annotations made by that User to HuNI records. The HuNI service will maintain a log and count of the User's activity within HuNI.</li>
  <li>A User's association with links between records will be public by default. A User's association with collections may or may not be public (at the User's discretion). The link count for each User will be public information. No other information about individual Users will be displayed or made available publicly. </li>
</ol>
<p>Use of Content by HuNI
<ol>
<li>All Content contributed by a User and made public by that User will be made available to Third Parties by HuNI under the terms of the Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International (CC BY-NC-SA 4.0) licence. </li>
<li>If the User is not the proprietor of the Intellectual Property Rights of the data contributed by him/her, he/she guarantees that he/she is authorised by the proprietor of the Intellectual Property Rights of the data to contribute the data to HuNI under the terms of the Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International (CC BY-NC-SA 4.0) licence.</li>
 <li>Private collections created by a User within the HuNI service may be shared with other HuNI Users at the discretion of the User who created the collection. The data included in the collection are covered by the general provisions of the HuNI Data Policy. They may be exported and reused by that User under the terms of the Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International (CC BY-NC-SA 4.0) licence.</li>
</ol>
<h3>HuNI Usage Guidelines for Data</h3>
<p>  All data published in HuNI are available under the AusGOAL Creative Commons licence Attribution-NonCommercial-ShareAlike 4.0 International (CC BY-NC-SA 4.0).</p>
<h4>Attribution</h4>
<ul>
  <li>You must give acknowledge the source of the data, provide a link to the CC license, and indicate if you have made any changes to the data. </li>
  <li>You should include attribution to the original data providers as well as to HuNI as the data aggregator. The following wording is recommended: "the HuNI service managed by Deakin University, and its data providers as listed on the HuNI Web site". </li>
  <li>You should make sure that others are aware of the rights status of the HuNI data and are aware of these guidelines. </li>
  <li>The attribution may be made either at the level of individual HuNI records or as a general statement.</li>
  <li>You may not suggest that you or your use of the data are endorsed by HuNI, Deakin University or the data providers.</li>
</ul>
<h4>Non-Commercial</h4>
<ul>
  <li>If you remix, transform or build upon the HuNI data, this must only be for non-commercial <a name="_GoBack" id="_GoBack"></a>purposes.</li>
</ul>
<h4>Share Alike </h4>
<ul>
  <li>If you remix, transform, or build upon the HuNI data, you must distribute your contributions under the same license as the original (i.e., "Attribution – NonCommercial – Share Alike").</li>
</ul>
<h4>Data are dynamic</h4>
<ul>
  <li>The data published in HuNI are continually updated. Therefore, the best way to re-use HuNI data is by linking to the specific data rather than by making a static copy available. If, for technical or other reasons, you cannot do this, then include a link back to the source of the data in HuNI or implement an update mechanism.</li>
</ul>
<p>Please note that you use the data at your own risk</p>
<ul>
  <li>HuNI offers the data "as-is" and makes no representations or warranties of any kind concerning any data published in HuNI.</li>
  <li>Any use of the data must conform to all applicable laws and other regulations in your jurisdiction, notably concerning (but not limited to) data protection, defamation or copyright.</li>
  <li>Be aware of any additional applicable community norms of data providers and data aggregators.</li>
</ul>
<p>&nbsp;</p>


