<div class="col-lg-12 col-md-12 col-sm-12 user-profile">

<h2>User Profile: {{ user.name }}</h2>

<div ng-if="own_profile">
  <div ng-show="user.show_profile_info">
    This is your public profile. You can update this information in <a href="#/myhuni/profile">your profile settings</a>.
  </div>
  <div ng-hide="user.show_profile_info">
    This is your full private profile, other users can only see your name. You can make this information public in <a href="#/myhuni/profile">your profile settings</a>.
  </div>
</div>

<div ng-if="!own_profile && !user.show_profile_info">
{{ user.name }} has opted to keep their profile private.
</div>

<table ng-if="own_profile || user.show_profile_info" class="user-profile">
  <tr>
    <th scope="row">Email</th>
    <td ng-show="user.email | isNonEmpty"><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
    <td ng-hide="user.email | isNonEmpty">-<td>
  </tr>
  <tr>
    <th scope="row">Institutions</th>
    <td ng-show="user.institutions | isNonEmpty">{{ user.institutions }}</td>
    <td ng-hide="user.institutions | isNonEmpty">-<td>
  </tr>
  <tr>
    <th scope="row">Description</th>
    <td ng-show="user.description | isNonEmpty">{{ user.description }}</td>
    <td ng-hide="user.description | isNonEmpty">-<td>
  </tr>
  <tr>
    <th scope="row">Interests</th>
    <td ng-show="user.interests | isNonEmpty">{{ user.interests }}</td>
    <td ng-hide="user.interests | isNonEmpty">-<td>
  </tr>
  <tr>
    <th scope="row">Collaboration Interests</th>
    <td ng-show="user.collaboration_interests | isNonEmpty">{{ user.collaboration_interests }}</td>
    <td ng-hide="user.collaboration_interests | isNonEmpty">-<td>
  </tr>
</table>

<!-- pre>{{ user | json }}</pre -->
</div>
