@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot') format('eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-view-link:before {
	content: "\e600";
}

.icon-add-record:before {
	content: "\e602";
}

.icon-collection-stack:before {
	content: "\e601";
}

.icon-export-collect:before {
	content: "\e603";
}

.icon-manage-link:before {
	content: "\e604";
}

.icon-manage-collect:before {
	content: "\e605";
}

.icon-rem-link:before {
	content: "\e606";
}

.icon-rem-record:before {
	content: "\e607";
}

.icon-delete-collect:before {
	content: "\e608";
}

.icon-add-all-collect:before {
	content: "\e609";
}

.icon-add-collect:before {
	content: "\e60d";
}

.icon-add-link:before {
	content: "\e60b";
}

.icon-new-link:before {
	content: "\e60a";
}
.icon-collection:before {
	content: "\e60e";
}

.icon-facebook:before {
	content: "\e611";
}
.icon-twitter:before {
	content: "\e616";
}
.icon-work:before {
	content: "\e617";
}
.icon-place:before {
	content: "\e615";
}
.icon-person:before {
	content: "\e614";
}
.icon-user:before {
	content: "\e614";
}
.icon-organisation:before {
	content: "\e612";
}
.icon-event:before {
	content: "\e610";
}
.icon-concept:before {
	content: "\e60f";
}
.icon-graph-view:before {
	content: "\e621";
}
.icon-pacman:before {
	content: "\e613";
}
.icon-query-start:before {
	content: "\e618";
}
.icon-query-end:before {
	content: "\e619";
}

.icon-embed:before {
	content: "\e622"; 
}
