.huni-widget {
  font-size:13px !important;
  height:100% !important;
  padding:4px !important;
  display:inline-block !important; 
  background-color:#303030 !important; 
  border-style:solid !important;
  border:5px !important;
  border-radius:5px !important;
  -moz-border-radius:5px !important;
  -webkit-border-radius:5px !important; 
  font-family: "Open Sans", Arial, sans-serif !important;
  color: #FFFFFF !important;
}

.huni-widget .container {
  height:100% !important;
  display:inline-block !important;
}

.huni-widget .logo {
  vertical-align: middle !important;
  height:100% !important;
  display:inline-block !important;
}
.huni-widget .logo:after {
  content:url("/images/huni-logo-wgt.png") !important;
}

.huni-widget .message {
  padding:2px !important;
}

.huni-widget input[type=text] {
  vertical-align: middle !important;
  height: 18px !important;
  margin-left: 1px !important;
  margin-top: 2px !important;
  padding: 2px !important;
  font-size:14px !important;
  border-width: 0px 0px 2px 2px !important;
  border-color:#303030 !important;
  border-style:solid !important;
  color:#000000 !important;
  background-color:#FFFFFF !important;
}

.huni-widget input[type=submit] {
  vertical-align: middle !important;
  height: 21px !important;
  width: 27px !important;
  margin-right: 2px !important;
  color:#FFFFFF !important;
  background-color: #04A38C !important;
  border-width: 0px 1px 1px 0px !important;
  border-color: #048C75 !important;
  border-style: solid !important;
  -webkit-border-radius: 0px 2px 2px 0px !important; 
  -moz-border-radius: 0px 2px 2px 0px !important; 
  border-radius: 0px 2px 2px 0px !important; 
}
